@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

#waybar {
  background: transparent;
  background-color: @crusty;
  color: @text;
  margin: 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 100%;
  padding: 0.1rem 0.4rem;
  margin: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
  background-color: @crust;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-mount,
#bluetooth,
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  background-color: @surface0;
  padding: 0 0.6rem;
  margin: 2px 0;
}

#custom-mount {
    color: @teal;
    border-radius: 1rem;
    margin-right: 1rem;
}

#clock {
    color: @blue;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

#clock.date {
    color: @blue;
}

#pulseaudio {
    color: @maroon;
}

#network {
    color: @yellow;
    border-radius: 1rem 0 0 1rem;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-radius: 0 1rem 1rem 0;
}

#bluetooth {
    color: @teal;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
